@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Catamaran:400,800|Varela+Round";
@import "reset.css";
@import "animations.css";

// colors
$color-back : #212121;
$color-accent : #76ad1c;
$color-dark : #3e3d40;
$color-text : #ffffff;
$font-title : "Varela Round", Helvetica, Arial, sans-serif;
$font-normal : "Catamaran", Helvetica, Arial, sans-serif;

html{
  box-sizing : border-box;
}
*, *:before, *:after{
  box-sizing                  : inherit;
  -webkit-touch-callout       : none !important;
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
  -ms-overflow-style          : none;
}
::-webkit-scrollbar{
  width : 0 !important;
}
::selection{
  background : $color-accent;
  color      : $color-text;
}
::-moz-selection{
  background : $color-accent;
  color      : $color-text;
}
a, button{
  color           : inherit;
  cursor          : pointer;
  text-decoration : none;
}
h2, h3, p, form{
  transition : margin-top 750ms ease-out, opacity 750ms;
}
.h{
  margin-top : 40px;
  opacity    : 0;
}
.r{
  display    : block;
  padding    : 10px 0 0;
  text-align : right;
}
.btn{
  display        : inline-block;
  background     : $color-accent;
  border         : solid 3px $color-accent;
  color          : $color-text;
  text-transform : uppercase;
  font-weight    : 800;
  font-size      : 12px;
  padding        : 10px 25px;
  border-radius  : 22px;
  transition     : background 500ms, color 500ms;

  &.small{
    margin    : 5px auto;
    padding   : 3px 15px;
    font-size : 11px;
  }

  &:hover{
    background : transparent;
    color      : $color-accent;
  }
}
// --------------------------------------- //
// --------------------------------------- //
body{
  overflow-x : hidden;
  position   : relative;
  z-index    : 1;
  background : $color-accent;
  min-height : 100vh;
  width      : 100vw;
  font       : 400 1.1em/1em $font-normal;
  color      : $color-text;

  > header{
    position      : relative;
    background    : transparent url(../img/bg.jpg) no-repeat center center;
    border-bottom : solid 4px $color-accent;
    height        : 680px;
    animation     : header 85s infinite;
                  // animation-timing-function: linear;

    > section{
      position   : relative;
      z-index    : 10;
      background : rgba(66, 66, 66, .6);
      display    : block;
      width      : 100%;
      height     : 100%;
      padding    : 150px 20px 0;

      img{
        display   : block;
        width     : 350px;
        max-width : 95%;
        margin    : 0 auto;
      }

      h1{
        display : none;
      }

      p{
        width      : 100%;
        text-align : center;
        opacity    : 0;

        &.baseline{
          font-size   : 1.3em;
          line-height : 1.5em;
          padding     : 70px 20px 50px;
        }

        &:last-of-type:after{
          content         : " ";
          speak           : none;
          display         : block;
          width           : 100%;
          height          : 12px;
          margin          : 15px 0 0;
          background      : transparent url(../img/arrow.svg) no-repeat center center;
          background-size : auto 100%;
        }
      }
    }
  }

  > footer{
    position   : relative;
    z-index    : 1;
    width      : 100vw;
    height     : 320px;
    border-top : solid 4px $color-accent;
    font       : inherit !important;

    div.address{
      display          : flex;
      flex-wrap        : wrap;
      justify-content  : space-between;
      align-items      : center;
      font-size        : .8em;
      line-height      : 1.5em;
      position         : absolute;
      z-index          : 10;
      bottom           : 0;
      left             : 0;
      width            : 100vw;
      margin           : 0 auto;
      padding          : 10px 10vw;
      background-color : rgba(33, 33, 33, .7);

      p{
        padding: 0 10px;
      }
    }

    > a{
      width      : 161px;
      text-align : center;
      overflow   : hidden;
      position   : absolute;
      z-index    : 9;
      bottom     : 145px;
      &:hover{
        background-color : rgba(66, 66, 66, .9) !important;
      }
      &.mail{
        right : 70vw;
      }
      &.phone{
        left : 70vw;
      }
    }

    .marker{
      z-index         : 3;
      display         : block;
      width           : 40px;
      height          : 40px;
      margin          : -40px 0 0 -20px;
      background      : transparent url(../img/marker.svg) no-repeat bottom center;
      background-size : auto 100%;
    }

    .mapboxgl-ctrl-bottom-right{
      font-family : Arial, sans-serif;
      font-size   : 12px;
      opacity     : .7;
      right       : -252px;
      transition  : right 500ms ease-in-out;

      &:hover{
        right : 0;
      }
    }
  }

  > main{
    position   : relative;
    background : $color-back;
    min-height : 100vh;

    h2{
      display     : block;
      text-align  : center;
      padding     : 50px 20px;
      font-size   : 1.3em;
      line-height : 1.3em;

      &.g{
        color : $color-accent;
      }
    }

    h3{
      display        : block;
      color          : $color-accent;
      text-align     : center;
      text-transform : lowercase;
      font-family    : $font-title;
      font-size      : 1.5em;
      padding        : 10px 0;

      &:after{
        content    : " ";
        speak      : none;
        display    : block;
        margin     : 15px auto;
        width      : 50px;
        height     : 1px;
        background : $color-text;
      }
    }

    section{
      width   : 100vw;
      padding : 30px 0;

              //&:after{
              //  content    : " ";
              //  speak      : none;
              //  display    : block;
              //  margin     : 90px auto 0;
              //  max-width  : 696px;
              //  width      : 69vw;
              //  height     : 1px;
              //  background : $color-accent;
              //}

      form{
        display   : block;
        width     : 90vw;
        max-width : 700px;
        margin    : 0 auto 80px;

        p{
          padding : 7px 0;

          span{
            display : inline-block;
            padding : 12px 0 0;
            &.error{
              color : orangered;
            }
          }
          button{
            float : right;
          }
        }

        &.sent{
          input, textarea{
            opacity : .1;
            cursor  : default !important;
          }
          button{
            opacity : 0;
          }
          span{
            color : $color-accent !important;
          }
        }

        button{
          transition : opacity 500ms;
        }

        input, textarea{
          font-family : $font-normal;
          font-size   : .9em;
          margin      : 5px 0 10px;
          padding     : 5px 15px;
          border      : solid 2px $color-dark;
          display     : block;
          width       : 100%;
          transition  : border-color 500ms, opacity 500ms;
          background  : $color-back;
          color       : $color-text;
          resize      : vertical;

          &[name=name]{
            float : left;
            width : 48%;
          }
          &[name=email]{
            float : right;
            width : 48%;
          }

          &.error{
            border-color : orangered;
          }
          &:focus{
            border-color : $color-accent;
          }
        }
      }

      div{
        display         : flex;
        align-items     : flex-start;
        justify-content : space-around;
        flex-wrap       : wrap;
        padding         : 20px;
        margin          : 0 auto;
        max-width       : 1200px;

        &.images{
          justify-content : space-between;
          padding         : 0;
          margin          : 10px 0 0;
          max-width       : 100vw;
          height          : 15vw;
          overflow        : hidden;
          speak           : none;
          border-bottom   : solid 2px $color-accent;
        }

        img{
          width      : calc(100vw / 3);
          height     : 100%;
          object-fit : cover;
          opacity    : .3;
          transition : opacity 2s;

          &:hover{
            opacity : .5;
          }
        }

        > p{
          width       : 45%;
          min-width   : 325px;
          max-width   : 500px;
          padding     : 0 10px 40px;
          font-size   : .9em;
          line-height : 1.5em;
        }

        article{
          width       : 280px;
          padding     : 0 10px 40px;
          font-size   : .9em;
          line-height : 1.5em;
        }
      }
    }
  }
}
// --------------------------------------- //
@media only screen and (max-width : 595px) {
  body > main{
    article, p{
      width     : 100% !important;
      min-width : 0 !important;
    }
    input{
      &[name=name], &[name=email]{
        float : none !important;
        width : 100% !important;
      }
    }
  }
  body > footer a{
    &.mail{
      right : auto;
      left  : 5vw;
    }
    &.phone{
      left  : auto;
      right : 5vw;
    }
  }
}
// --------------------------------------- //
.pace{
  pointer-events : none;
  user-select    : none;
}
.pace .pace-progress{
  border-top : solid 5px $color-accent;
  position   : fixed;
  z-index    : 2000;
  top        : 0;
  right      : 0;
  height     : 100vh;
  width      : 100vw;
  background : $color-back;
  transform  : translate3d(0, 0, 0) !important;
}
.pace .pace-progress:after{
  display     : block;
  position    : absolute;
  top         : .5rem;
  right       : .5rem;
  content     : attr(data-progress-text);
  font-family : $font-title;
  font-size   : 4rem;
  line-height : 1;
  text-align  : right;
  color       : $color-accent;
}